:root {
  --branding-color: #b6f500;
  --secondary-color: #393e46;
  --tertiary-color: #eeeeee;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--lettering-color);
}

p {
  font-family: var(--default-font-family);
  font-weight: 500;
  font-style: normal;
  color: var(--lettering-color);
  text-align: center;
}

.coloredheader {
  background: var(--tertiary-color);
  text-align: right;
  padding: 160px 30px;
}

.coloredheader h1 {
  color: var(--branding-color);
}

.coloredheader a {
  background: var(--secondary-color);
  color: var(--branding-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 10px 20px;
}

.content a {
  background: var(--branding-color);
  color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 10px 20px;
  text-decoration: none;
}

.projectdescription {
  padding: 120px 60px;
}
